/* ?For Pricing Card */

/* body{
    font-family: 'Poppins', sans-serif;
    
}
@media(min-width: 800px){
    .container{
        width: 800px;
    }
} */

/* ?For Rating Component */
/* @media(min-width: 600px){
    .container{
        width: 600px;
    }
} */

/* ?For User List */
@media(max-width : 767px){
    .user-list{
        justify-content: center !important;
        margin-top: 20px;
    }
}